.footer{
    font-weight: 500px;
    font-size: 14px;
    color: rgba(170, 170, 170, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 1);
    height: 75px;
}