.host-nav{
    background-color: #FFF7ED;
    padding: 40px 10px;
}

.host-nav a{
    text-decoration: none;
    margin: 0px 20px;
    color: #4D4D4D; 
}

.host-nav a:hover{
    text-decoration: underline;
}
