nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    height: 110px;
}

.nav-left{
    font-weight: 900;
    font-size: 26px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.nav-right {
    display: flex;
    gap: 30px; 
}

.nav-right a:hover{
    font-weight: 700;
    transform: scale(1.2);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav-right a{
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    transition: ease-out;
}

.my-link{
    font-weight: 700;
    transform: scale(1.2);
    text-decoration: underline;
    text-underline-offset: 4px;
    color: red;
}